@import "sprite";

//блок с контентом
.c-section{
    padding: 48px 0;

    &_bg-gray{
        background: $bg-grey;
    }

    &__title{
        margin: 0 0 2em;
        font-size: $xs-size*2 + 1;
        font-family: $Bitter-bold;
        color: $main-color;
        font-weight: normal;

        @include respondTo(tablet){
            text-align: center;
        }

        @include respondTo(small){
            font-size: $xl-size;
        }
    }
}

.c-block{
    &__title{
        font-family: $Bitter-bold;
        font-size: 2rem;
        line-height: 1.2;
        width: 90%;
        margin: 0 0 1em;
    }

    &__link{
        font-size: 1.6rem;
        color: $sec-color;
        text-decoration: none;
        margin-top: 0.8em;
        display: block;

        &:hover{
            text-decoration: underline;
            color: $action-color;
        }
    }
}

.img-block{
    & a{
        display: inline-block;
        margin-right: 2rem;
        border: none;
        box-sizing: border-box;
        position: relative;

        &:after{
            content: "";
            position: absolute;
            top:0;
            left: 0;
            width: 116px;
            height: 149px;
            border: 5px solid $action-color;
            opacity: 0;
            transition: opacity ease 300ms;
        }

        &:hover{
            &:after{
                opacity: 1;
            }
        }
    }
}


//оборудование
.equipment{

    &__item{
        text-align: center;
        color: $main-color;
        margin-bottom: 5rem;

        &-txt{
            font-size: $normal-size;
            font-family: $PT-Sans-bold;
            line-height: 1.1;
        }

        &_offer{
            position: relative;

            & .equipment__item-txt{
                color: $sale-color;
            }

            &:after{
                position: absolute;
                content: '';
                top: calc(50% - 50px);
                left: calc(50% - 60px);
                background: url('../img/sale-hand.png') no-repeat scroll transparent;
                width: 119px;
                height: 86px;
            }
        }
    }
}

//форма заказа на главной
.main-order{
    padding: 48px 0;
    background: $bg-grey;

    &__title{
        font-family: $Bitter-bold;
        font-size: $xs-size*2 + 1;
        margin: 0;
        line-height: 1.2;

        @include respondTo(tablet){
            margin-bottom: 1rem;
        }
    }
}

//производство
.production{
    background: url('../img/bg-production.jpg') no-repeat scroll transparent 50% 50% / cover;

    &_partner{
        background: url('../img/bg-partner.jpg') no-repeat scroll transparent 50% 50% / cover;
    }

    &__wrap{
        margin: 60px -38px;
        padding: 38px;
        background: rgba(255,255,255,.8);

        @include respondTo(desktop){
            margin: 60px 0;
        }

        @include respondTo(small){
            margin: 30px 0;
            padding: 25px;
        }
    }

    &__title{
        font-family: $Bitter;
        font-size: $xl-size;
        margin: 0;
        line-height: 1.2;

        @include respondTo(tablet){
            margin-bottom: 1rem;
        }

        @include respondTo(small){
            font-size: $xl-size - 2;
        }
    }
}

//преимущества
.advantage{
    background: linear-gradient(to top, #abe7f4 0%, #a2e2f0 50%, #77cbde 100%);
    text-align: center;

    & .c-section__title{
        text-align: left;
    }

    &__item{
        text-align: center;
        margin-bottom: 30px;
        display: inline-block;
        text-decoration: none;

        &:hover{
            text-decoration: none;

            & .icon-job {
                @include sprite($i-job-blue);
            }

            & .icon-delivery {
                @include sprite($i-delivery-blue);
            }

            & .icon-garant {
                @include sprite($i-garant-blue);
            }

            & .icon-minimal {
                @include sprite($i-minimal-blue);
            }

        }
    }

    &__icon{
        border-radius: 50%;
        background: #fff;
        width: 104px;
        height: 104px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    &__title{
        font-family: $PT-Sans-bold;
        font-size: $xl-size;
        color: $main-color;
        line-height: 1.1;
        text-align: center;
        margin: 20px 0 0;

        @include respondTo(small){
            font-size: $bid-size;
        }
    }

    &__txt{
        font-family: $PT-Sans;
        font-size: $normal-size;
        color: $main-color;

        @include respondTo(small){
            font-size: $small-size;
            line-height: 1;
        }
    }
}

//карта на главной
.map{
    height: 400px;
    position: relative;
    display: none;

    &.is-active{
        display: block;

        @extend %view-block;
    }

    @include respondTo(small){
        height: 240px;
        margin-top: 200px;
    }

    &-content{
        background: #fff;
        border-radius: 6px;
        padding: 40px;
        text-align: center;
        max-width: 280px;
        position: absolute;
        top: 50px;
        left: 20%;
        z-index: 1;

        @include respondTo(tablet){
            background: rgba(255,255,255,.75);
            padding: 20px;
        }

        @include respondTo(small){
            margin: 0;
            position: absolute;
            top: -180px;
            padding: 0;
            background: #fff;
            left: 50%;
            transform: translateX(-50%);
        }

        & a{
            color: inherit;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }

        &__title{
            display: inline-block;
            text-decoration: underline;
            font-size: $normal-size;
            color: #aaaaaa;
            padding-right: 20px;
            cursor: pointer;

            &:nth-child(2){
                padding-right: 0;
            }

            &.is-active{
                font-family: $Bitter-bold;
                color: $main-color;
                text-decoration: none;
                font-size: $xs-size*2 + 1;
                cursor: inherit;
            }
        }

        & p{
            font-size: $normal-size;
            line-height: 3em;
            color: $main-color;
            font-family: $PT-Sans;
            margin: 0;

            @include respondTo(small){
                line-height: 1.8;
            }
        }
    }
}

.partner{
    @include respondTo(tablet){
        text-align: center;
    }
}

.rekvizit{
    font-size: 1.6rem;
    margin: 0;

    & span{
        white-space: nowrap;
        min-width: 95px;
        display: inline-block;

        @include respondTo(small){
            font-weight: 600;
            display: block;
        }
    }
}