/**
 * Created by Pompo on 14.11.2016.
 */

html,
body {
  height: 100%;
}

html{
  font-size: 10px;
}

body{
  font-family: 'PTSans', sans-serif;
  padding-top: 80px;

  @include respondTo(small){
    padding-top: 140px;
  }
}

//прижимаю футер в контактах
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content{
  flex: 1 0 auto;
}

.main-footer{
  flex: 0 0 auto;
}
