/**
 * Created by Pompo on 14.11.2016.
 */
%animation-block{
  animation: opacity-block .45s ease-in-out 1;
}

%view-block{
  animation: view-block .3s ease-in-out 1;
}

@keyframes opacity-block {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes view-block {
  from{
    transform: translateX(-100%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

