/**
 * Created by Pompo on 14.11.2016.
 */
$xs-size: 12px;
$small-size: 14px;
$normal-size: 16px;
$middle-size: 18px;
$bid-size: 20px;
$xl-size: 22px;

$PT-Sans: "PTSans", sans-serif;
$PT-Sans-bold: "PTSansBold", sans-serif;
$Bitter: "Bitter", sans-serif;
$Bitter-bold: "BitterBold", sans-serif;

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}