$media-desctop: 1280px;
$media-tablet: 980px;
$media-mobile: 768px;
$media-small: 480px;

$breakpoints: (
        "desctop" :$media-desctop,
        "tablet" :$media-tablet,
        "mobile" : $media-mobile,
        "small" : $media-small,
        "small-mobile": ($media-small, $media-mobile),
        "small-tablet": ($media-small, $media-tablet),
        "small-desctop": ($media-small, $media-desctop),
        "mobile-tablet": ($media-mobile, $media-tablet),
        "mobile-desctop": ($media-mobile, $media-desctop),
        "tablet-desctop": ($media-tablet, $media-desctop),
        "retina" : "1px"
);

@mixin respondTo($media) {
    @if $media == small {
        @media only screen and (max-width: $media-small) {
            @content;
        }
    } @else if $media == mobile {
        @media only screen and (max-width: $media-mobile) {
            @content;
        }
    } @else if $media == tablet {
        @media only screen and (max-width: $media-tablet) {
            @content;
        }
    } @else if $media == desctop {
        @media only screen and (max-width: $media-desctop) {
            @content;
        }
    } @else if $media == small-mobile {
        @media only screen and (min-width: $media-small) and (max-width: $media-mobile) {
            @content;
        }
    } @else if $media == small-tablet {
        @media only screen and (min-width: $media-small) and (max-width: $media-tablet) {
            @content;
        }
    } @else if $media == small-desctop {
        @media only screen and (min-width: $media-small) and (max-width: $media-desctop) {
            @content;
        }
    } @else if $media == mobile-tablet {
        @media only screen and (min-width: $media-mobile) and (max-width: $media-tablet) {
            @content;
        }
    } @else if $media == mobile-desctop {
        @media only screen and (min-width: $media-mobile) and (max-width: $media-desctop) {
            @content;
        }
    } @else if $media == tablet-desctop {
        @media only screen and (min-width: $media-tablet) and (max-width: $media-desctop) {
            @content;
        }
    } @else if $media == retina {

        @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (-moz-min-device-pixel-ratio: 2),
        only screen and (-ms-min-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {
            @content;
        }
    }
}