/**
 * Created by Pompo on 22.07.2017.
 */
//меню слева
.extra-menu{
  list-style: none;
  margin: 0;
  padding: 0;

  & li{
    padding-top: 1.5rem;
  }

  &__link{
    text-decoration: none;
    color: $main-color;
    font-size: 16px;
    line-height: 1;

    &.is-active{
      font-weight: 600;
      color: $action-color;

      &:hover{
        text-decoration: none;
      }
    }
  }

  &_cable{

    & .extra-menu__link{
      font-size: 13px;
    }

    & li{
      padding-top: .75em;
      line-height: 1.1;

      &:first-of-type{
        padding-top: .9em;
      }
    }
  }
}
