.main-footer{
    background: $main-color;
    color: $sec-color;
    padding: 25px 0 30px;

    & .header__logo{
        padding-top: 0;
    }

    @include respondTo(small){
        padding: 20px 0;
        text-align: center;

        & .logo{
            margin: 0 auto;
        }
    }

    &__nav{
        margin: 0;
        padding: 0;
        list-style: none;

        & a {
            text-decoration: none;
            color: #969696;
            transition: color ease 300ms;
            font-family: $PT-Sans;
            font-size: $normal-size;
            line-height: 1.125;

            &:hover{
                text-decoration: none;
                color: $action-color;
            }
        }

    }

    &__contact{

        @include respondTo(small){
            margin-top: 20px;
        }

        & p{
            font-family: $PT-Sans;
            font-size: $normal-size;
            line-height: 1.2;
            margin: 0;
        }

        &_phone{
            display: block;
            padding-top: 5px;
        }
    }

    &__search{
        position: relative;

        @include respondTo(tablet){
            margin-top: 30px;
        }


         & input{
             width: 100%;
             background: transparent;
             border: 1px solid $sec-color;
             padding: 6px 10px;
             height: 32px;
             box-sizing: border-box;
             font-size: $normal-size;
         }
    }
}

.copyright{
    font-size: $xs-size;
    font-family: $PT-Sans;
    display: block;
    white-space: nowrap;
    padding-top: 5px;
    color: #646464;
}