/**
 * Created by Pompo on 17.11.2016.
 */

.form-row {
  margin-bottom: .5rem;

  @include respondTo(small) {
    margin-bottom: 1rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.unit {
  float: left;
  padding-left: .5%;

  &_single-left {
    padding-left: 0;
  }

  &.reset-small {

    @include respondTo(small) {
      width: 100%;
      padding: 0 0 1rem;
    }

    &:last-child {
      @include respondTo(small) {
        padding-bottom: 0;
      }
    }
  }
}

.unit-33 {
  width: 33%;
}

.unit-66 {
  width: 66%;
}

//input
.reg-inp {
  width: 100%;
  border: none;
  box-sizing: border-box;
  height: 36px;
  padding: 8px 10px;
  font-size: $normal-size;
}

textarea {
  width: 100%;
  border: none;
  padding: 8px 10px;
  font-size: $normal-size;
  box-sizing: border-box;
  height: 76px;
}

//button
.form-btn {
  width: 100%;
  margin-bottom: .5rem;
  border: none;
  box-sizing: border-box;
  text-align: center;
  height: 36px;
  font-size: $normal-size;
  color: #fff;
  font-family: $PT-Sans;

  @include respondTo(small) {
    margin-bottom: 1rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &_attach {
    background: $disabled;

    &:hover {
      background: #c8c8c8;
    }
  }

  &_send {
    background: #2cb3d5;
    font-family: $PT-Sans-bold;
    font-size: $normal-size + 1;

    &:hover {
      background: #38bcdd;
    }
  }
}

.icon-search {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 20px;
  height: 21px;
  cursor: pointer;
}