/**
 * Created by Pompo on 14.11.2016.
 */
.header{
  background: $main-color;
  //height: 80px;
  box-sizing: border-box;
  padding: 20px 0 0;
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  z-index: 100;

  //@extend %animation-block;

  @include respondTo(small){
    padding-bottom: 20px;
    position: relative;
  }

  &__wrap{
    position: relative;
  }

  &__logo{
    //font-size: $xs-size;
    font-size: 11.73px;
    color: $sec-color;
    padding: 10px 0 16px;
    font-family: $PT-Sans;
    display: inline-block;

    @include respondTo(small){
      display: block;
      padding-top: 11px;
    }

    &:hover{
      text-decoration: none;
      color: #959595;
    }
  }

  &__contact{
    text-align: right;
    color: #fff;
    font-family: $Bitter-bold;
    font-size: $normal-size;
    margin-top: -7px;

    @include respondTo(tablet){
      padding: 10px 60px 0 0;
    }

    @include respondTo(small){
      text-align: left;
      margin-top: 0;
      padding-top: 0;
    }

    & > a{
      color: $sec-color;
      font-family: $PT-Sans;
      font-size: $xs-size;
      line-height: 1.4;
      display: block;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.logo{
  background: url('../img/logo.png') no-repeat 0 50% / cover;
  width: 156px;
  height: 17px;
}
