#hero-banner{

    & .swiper-slide{
        height: 355px;

        @include respondTo(mobile){
            height: 280px;
        }

        @include respondTo(small){
            height: 360px;
        }
    }

    & .swiper-pagination{
        position: absolute;
        bottom: 20px;
        left: 0;

        @include respondTo(small){
            display: none;
        }
    }
}

#partner-swiper{
    & .swiper-wrapper{
        display: inherit;

        @include respondTo(small){
            display: flex;
        }
    }

    & .swiper-slide{
        width: 25%;

        @include respondTo(tablet){
            width: 50%;
        }

        @include respondTo(small){
            width: 100%;
        }
    }

    & .swiper-button-next, .swiper-button-prev{
        opacity: 0;

        @include respondTo(small){
            opacity: 1;
        }
    }
}

.rel-block{
    position: relative;
}

.swiper-pagination-bullet{
    background: transparent;
    border: 1px solid #fff;
    margin-right: 6px;
    opacity: 1;
    width: 10px;
    height: 10px;
    box-sizing: border-box;

    &.swiper-pagination-bullet-active{
        background: #fff;
    }
}

.phone-bold{
    font-family: $Bitter-bold;
    line-height: 1.4;
    white-space: nowrap;
}

.hide-tablet{
    @include respondTo(tablet){
        display: none;
    }
}

.hide-mobile{
    @include respondTo(mobile){
        display: none;
    }
}

.hide-small{
    @include respondTo(small){
        display: none;
    }
}

.reset-small{
    @include respondTo(small){
        width: 100%;
    }
}

.clr{
    &:after{
        content: "";
        display: table;
        clear: both;
    }

    @include respondTo(small){
        //display: none;
    }
}