#hero-banner{

    & .swiper-slide{
        height: 355px;
    }

    & .swiper-pagination{
        position: absolute;
        bottom: 20px;
        left: 0;
    }
}

.rel-block{
    position: relative;
}

.swiper-pagination-bullet{
    background: transparent;
    border: 1px solid #fff;
    margin-right: 6px;
    opacity: 1;
    width: 10px;
    height: 10px;
    box-sizing: border-box;

    &.swiper-pagination-bullet-active{
        background: #fff;
    }
}

.phone-bold{
    font-family: $Bitter-bold;
    line-height: 1.4;
    white-space: nowrap;
}