.hero-banner{
    width: 100%;
    color: $main-color;

    &_cabel{
        background: url('../img/bg-banner_cabel.jpg') no-repeat scroll 50% 50% / cover;
        height: 100%;

        @include respondTo(small){
            height: 200px;
            background-position: 85% 50%;
        }
    }

    &_board{
        background: url('../img/bg-banner_board.jpg') no-repeat scroll 50% 50% / cover;
        height: 100%;

        @include respondTo(small){
            height: 200px;
            background-position: 85% 50%;
        }
    }

    &__title{
        font-family: $Bitter;
        font-size: 35px;
        font-weight: 400;
        margin: 2.1em 0 .85em;
        line-height: 1.028;
        width: 50%;

        @include respondTo(tablet){
            font-size: $normal-size*2;
        }

        @include respondTo(mobile){
            width: 100%;
            font-size: $small-size*2;
        }

        @include respondTo(small){
            width: 100%;
            font-size: $xl-size - 2;
            margin: .75em 0 .5em;
        }
    }

    &__txt{
        font-family: $PT-Sans;
        font-size: $normal-size;
        line-height: 1.1875;
        margin: 0 0 1em;
        width: 35%;

        @include respondTo(tablet){
            width: 50%;
        }

        @include respondTo(mobile){
            width: 80%;
        }

        @include respondTo(small){
            width: 100%;
            font-size: $small-size;
            margin-bottom: 1.5em;
        }
    }

    &__wrap{
        @include respondTo(small){
            position: absolute;
            bottom: 2px;
            background: $bg-grey;
        }
    }
}