/**
 * Created by Pompo on 14.11.2016.
 */
.main-nav{
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 10px 0 0;

  &__item{
    position: relative;
    overflow: hidden;
    height: 50px;

    &:after{
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background: $bg-grey;
      bottom: 0;
      display: none;
    }

    &:hover,
    &.is-active{

      &:after{
        display: block;
      }

      & .main-nav__link{
        color: $action-color;
      }
    }

    &.is-active{
      & .main-nav__link{
        text-transform: uppercase;
        font-weight: 600;
      }

    }
  }

  &__link{
    text-decoration: none;
    color: $sec-color;
    font-family: $PT-Sans;
    font-size: $normal-size;
    transition: color ease 300ms;
    padding: 0 1em;
    display: block;
    height: 100%;

    &:hover{
      text-decoration: none;
    }

    &:focus{
      color: $sec-color;
      text-decoration: none;
    }
  }
}

//second nav
.second-nav{
  position: fixed;
  background: $bg-grey;
  padding: 3rem 0;
  width: 100%;
  display: none;
  transition: opacity ease 300ms;
  z-index: 10;
  left: 0;

  @extend %animation-block;

  &.is-active{
    display: block;
  }

  &__col{
    padding: 0 10px;
    height: 100%;

    &_sale{

      & .second-nav__title{
        color: $sale-color;
      }

      & .second-nav__link:hover{
        color: $sale-color;
      }
    }

    &_first{
      padding-left: 40px;
    }

    &_brd{
      border-left: 1px solid #c1c1c1;
      border-right: 1px solid #c1c1c1;
    }
  }

  &__title{
    font-size: 1.6rem;
    line-height: 1.1;
    font-family: $PT-Sans-bold;
    color: #4b4b4b;
    margin: 0 0 1.6rem;
    text-transform: uppercase;
  }

  &__menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    & > li {
      padding-bottom: .6rem;
      width: 100%;

      &:last-of-type{
        padding-bottom: 0;
      }
    }
  }

  &__link{
    font-size: 1.3rem;
    line-height: 1;
    font-family: $PT-Sans;
    color: #4b4b4b;
    text-decoration: none;
    transition: all ease .1s;

    &:hover{
      color: $action-color;
      font-family: $PT-Sans-bold;
      text-decoration: none;
    }
  }
}

.aside{

  @include respondTo(tablet){
    margin-bottom: 2em;
  }

  &__title{
    text-transform: uppercase;
    font-size: 16px;
    font-family: $PT-Sans-bold;
    line-height: 1.2;
  }
}

