/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$i-delivery-blue-name: 'i-delivery-blue';
$i-delivery-blue-x: 0px;
$i-delivery-blue-y: 0px;
$i-delivery-blue-offset-x: 0px;
$i-delivery-blue-offset-y: 0px;
$i-delivery-blue-width: 104px;
$i-delivery-blue-height: 104px;
$i-delivery-blue-total-width: 318px;
$i-delivery-blue-total-height: 318px;
$i-delivery-blue-image: '../img/sprite.png';
$i-delivery-blue: (0px, 0px, 0px, 0px, 104px, 104px, 318px, 318px, '../img/sprite.png', 'i-delivery-blue', );
$i-delivery-name: 'i-delivery';
$i-delivery-x: 107px;
$i-delivery-y: 0px;
$i-delivery-offset-x: -107px;
$i-delivery-offset-y: 0px;
$i-delivery-width: 104px;
$i-delivery-height: 104px;
$i-delivery-total-width: 318px;
$i-delivery-total-height: 318px;
$i-delivery-image: '../img/sprite.png';
$i-delivery: (107px, 0px, -107px, 0px, 104px, 104px, 318px, 318px, '../img/sprite.png', 'i-delivery', );
$i-garant-blue-name: 'i-garant-blue';
$i-garant-blue-x: 0px;
$i-garant-blue-y: 107px;
$i-garant-blue-offset-x: 0px;
$i-garant-blue-offset-y: -107px;
$i-garant-blue-width: 104px;
$i-garant-blue-height: 104px;
$i-garant-blue-total-width: 318px;
$i-garant-blue-total-height: 318px;
$i-garant-blue-image: '../img/sprite.png';
$i-garant-blue: (0px, 107px, 0px, -107px, 104px, 104px, 318px, 318px, '../img/sprite.png', 'i-garant-blue', );
$i-garant-name: 'i-garant';
$i-garant-x: 107px;
$i-garant-y: 107px;
$i-garant-offset-x: -107px;
$i-garant-offset-y: -107px;
$i-garant-width: 104px;
$i-garant-height: 104px;
$i-garant-total-width: 318px;
$i-garant-total-height: 318px;
$i-garant-image: '../img/sprite.png';
$i-garant: (107px, 107px, -107px, -107px, 104px, 104px, 318px, 318px, '../img/sprite.png', 'i-garant', );
$i-job-blue-name: 'i-job-blue';
$i-job-blue-x: 214px;
$i-job-blue-y: 0px;
$i-job-blue-offset-x: -214px;
$i-job-blue-offset-y: 0px;
$i-job-blue-width: 104px;
$i-job-blue-height: 104px;
$i-job-blue-total-width: 318px;
$i-job-blue-total-height: 318px;
$i-job-blue-image: '../img/sprite.png';
$i-job-blue: (214px, 0px, -214px, 0px, 104px, 104px, 318px, 318px, '../img/sprite.png', 'i-job-blue', );
$i-job-name: 'i-job';
$i-job-x: 214px;
$i-job-y: 107px;
$i-job-offset-x: -214px;
$i-job-offset-y: -107px;
$i-job-width: 104px;
$i-job-height: 104px;
$i-job-total-width: 318px;
$i-job-total-height: 318px;
$i-job-image: '../img/sprite.png';
$i-job: (214px, 107px, -214px, -107px, 104px, 104px, 318px, 318px, '../img/sprite.png', 'i-job', );
$i-minimal-blue-name: 'i-minimal-blue';
$i-minimal-blue-x: 0px;
$i-minimal-blue-y: 214px;
$i-minimal-blue-offset-x: 0px;
$i-minimal-blue-offset-y: -214px;
$i-minimal-blue-width: 104px;
$i-minimal-blue-height: 104px;
$i-minimal-blue-total-width: 318px;
$i-minimal-blue-total-height: 318px;
$i-minimal-blue-image: '../img/sprite.png';
$i-minimal-blue: (0px, 214px, 0px, -214px, 104px, 104px, 318px, 318px, '../img/sprite.png', 'i-minimal-blue', );
$i-minimal-name: 'i-minimal';
$i-minimal-x: 107px;
$i-minimal-y: 214px;
$i-minimal-offset-x: -107px;
$i-minimal-offset-y: -214px;
$i-minimal-width: 104px;
$i-minimal-height: 104px;
$i-minimal-total-width: 318px;
$i-minimal-total-height: 318px;
$i-minimal-image: '../img/sprite.png';
$i-minimal: (107px, 214px, -107px, -214px, 104px, 104px, 318px, 318px, '../img/sprite.png', 'i-minimal', );
$i-search-a-name: 'i-search-a';
$i-search-a-x: 214px;
$i-search-a-y: 214px;
$i-search-a-offset-x: -214px;
$i-search-a-offset-y: -214px;
$i-search-a-width: 20px;
$i-search-a-height: 21px;
$i-search-a-total-width: 318px;
$i-search-a-total-height: 318px;
$i-search-a-image: '../img/sprite.png';
$i-search-a: (214px, 214px, -214px, -214px, 20px, 21px, 318px, 318px, '../img/sprite.png', 'i-search-a', );
$i-search-name: 'i-search';
$i-search-x: 237px;
$i-search-y: 214px;
$i-search-offset-x: -237px;
$i-search-offset-y: -214px;
$i-search-width: 20px;
$i-search-height: 21px;
$i-search-total-width: 318px;
$i-search-total-height: 318px;
$i-search-image: '../img/sprite.png';
$i-search: (237px, 214px, -237px, -214px, 20px, 21px, 318px, 318px, '../img/sprite.png', 'i-search', );
$spritesheet-width: 318px;
$spritesheet-height: 318px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($i-delivery-blue, $i-delivery, $i-garant-blue, $i-garant, $i-job-blue, $i-job, $i-minimal-blue, $i-minimal, $i-search-a, $i-search, );
$spritesheet: (318px, 318px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
