.tab{
    margin: 20px 0 25px;

    &__header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        align-items: center;

        @include respondTo(small){
            flex-direction: column;
        }

        &_sm{
            justify-content: flex-start;

            & .tab__title{
                margin-right: 5px;
            }
        }
    }

    &__title{
        width: 33%;
        text-align: center;
        background-color: #cdebf0;
        height: 50px;
        padding: 1.6rem;
        line-height: 1;
        box-sizing: border-box;
        font-size: 1.8rem;
        color: $black;
        cursor: pointer;

        @include respondTo(mobile){
            padding: 1.6rem 1rem;
            font-size: 1.5rem;
        }

        @include respondTo(small){
            width: 100%;
            margin-bottom: .25em;
        }

        &.current{
            background-color: #a0d7e6;
            font-family: $PT-Sans-bold;
        }
    }

    &__content{
        display: none;

        &.is-active{
            display: block;
        }
    }
}