AddDefaultCharset UTF-8

ErrorDocument 404 /404-error.html

Options +FollowSymLinks
  RewriteEngine On

  Redirect 301 /shchity-upravleniya-shchu http://torum-perm.ru/schity-upravleniya.html
  Redirect 301 /glavnye-raspredelitelnye-shchity-grshch http://torum-perm.ru/glavnye-raspredelitelnye-schity.html
  Redirect 301 /shchity-silovye-shchs http://torum-perm.ru/schity-silovye.html
  Redirect 301 /shchity-osveshcheniya-shcho http://torum-perm.ru/schity-osvescheniya.html
  Redirect 301 /shchity-avtomaticheskogo-vvoda-rezervnogo-pitaniya-avr http://torum-perm.ru/shchity-avtomaticheskogo-vvoda-rezervnogo-pitaniya.html
  Redirect 301 /vvodno-raspredelitelnye-ustroystva-vru1 http://torum-perm.ru/vvodno-raspredelitelnye-ustroystva.html
  Redirect 301 /production http://torum-perm.ru/catalog-boards.html
  Redirect 301 /specpredlozhenie/shkaf-ksho-v-nalichii http://torum-perm.ru/shkaf-ksho.html
  Redirect 301 /company/team http://torum-perm.ru/about.html
  Redirect 301 /contacts http://torum-perm.ru/contact.html
  Redirect 301 /specpredlozhenie http://torum-perm.ru/povorotnaya-kamera-bosch.html
  Redirect 301 /company/partners http://torum-perm.ru/about.html
  Redirect 301 /company/partners http://torum-perm.ru/
  Redirect 301 /shipping http://torum-perm.ru/about.html

# сжатие text, html, javascript, css, xml:
<ifModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</ifModule>

<ifModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 5 seconds"
	ExpiresByType image/x-icon "access plus 2592000 seconds"
	ExpiresByType image/jpeg "access plus 2592000 seconds"
	ExpiresByType image/png "access plus 2592000 seconds"
	ExpiresByType text/css "access plus 604800 seconds"
	ExpiresByType text/javascript "access plus 604800 seconds"
	ExpiresByType application/javascript "access plus 604800 seconds"
	ExpiresByType application/x-javascript "access plus 604800 seconds"
	ExpiresByType text/html "access plus 43200 seconds"
</ifModule>